*.iml
.gradle
.kotlin
**/.run/
**/.kotlin/
/local.properties
.idea
.DS_Store
build
**/build
/captures
.externalNativeBuild
.cxx
local.properties

config/firebase/.firebaserc
config/firebase/seed/
**/google-services.json
google-services.json
!.github/workflows/google-services.json
firebase-debug.log
*-debug.log
