*.iml
.gradle
.kotlin
**/.run/
**/.kotlin/
/local.properties
.idea
.DS_Store
build
**/build
/captures
.externalNativeBuild
.cxx
local.properties

core/firebase/config/.firebaserc
core/firebase/config/seed/
**/google-services.json
!core/firebase/google-services.json
firebase-debug.log
*-debug.log
